/* 
    참고: 
    display: block; 
    요소를 블럭 레벨 요소로 변경해주는 속성.
    블럭 속성을 적용할 수 있도록 해준다.

    display: inline; 
    요소를 인라인 레벨 요소로 변경해주는 속성.
    인라인 속성을 적용할 수 있도록 해준다.

    display: inline-block; 
    인라인 요소: 인라인의 공통특징인 한 줄에 정렬 가능 유지
    블럭 요소 :  블럭 레벨이 사용할 수 있는 요소 모두 가능
    */

div {
  border: 1px solid #000000;
  border-radius: 5px;
}

h1 {
  margin-top: 0;
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: white;
  padding-right: 50px;
}

#ust {
  padding: 0;
  margin: 0px;
  background-color: #000000;
  border-radius: 0 0 3px 3px;
  list-style-type: none;
}

#ust>li {
  /* display: inline; */
  display: inline-block;
  padding: 15px 20px;
}

span.spst {
  display: block;
  border: 2px solid #f00;
  background-color: rgba(255, 0, 0, 0.3);
  padding: 50px;
  margin: 30px;
}

dl, h1:first-child {
  margin-left: 10px;
}

#PaBox {
  padding: 20px 0;
  text-align: center;
}

#PaBox .childBox {
  display: inline-block;
  padding: 20px 50px;
  background-color: yellowgreen;
}
